ceci-element.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ceci-listen">
    <xsd:attribute name="for" type="xsd:string"/>
    <xsd:attribute name="on" type="xsd:string"/>
  </xsd:element>
  <xsd:element name="ceci-broadcast">
    <xsd:attribute name="from" type="xsd:string"/>
    <xsd:attribute name="on" type="xsd:string"/>
  </xsd:element>
</xsd:schema>